<?xml version="1.0"?>
<appSettings>
  <!-- JWT Token Starts -->
  <add key="TokenAudience" value="http://testcase.local"/>
  <!-- SHA-256 -> "testcasetokenaudiencesecret" -->
  <add key="Token AudienceSecret" value="d5029d6aabb26ae6880642421cd407cb52ec0cfa7321f9ded2a297386edc2dbe"/>
  <add key="TokenIssuer" value="http://testcase.local" />
  <!-- SHA-256 -> "testcasetokensecret" -->
  <add key="TokenSecret" value="e468c4b0810bf2b32070db202f6e5af0984f98edd37c559ca6ae2b2bd54c2a9f" />
  <!-- JWT Token Ends -->
</appSettings>