<?xml version="1.0"?>
<appSettings>
  <!-- General Starts -->
  <add key="ApplicationName" value="TestCase"/>
  <!-- General Ends -->

  <!-- JWT Token Starts -->
  <add key="TokenAudience" value=""/>
  <!-- SHA-256 -> "" -->
  <add key="TokenAudienceSecret" value=""/>
  <add key="TokenIssuer" value="" />
  <!-- SHA-256 -> "" -->
  <add key="TokenSecret" value="" />
  <!-- JWT Token Ends -->
</appSettings>